body {
  background-color: #070707;
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.header__burger {
  position: relative;
  bottom: 65px;
  right: 176px;
  padding-left: 235px;
  display: none;
  align-items: center;
  width: 294.117px;
  height: 70.75px;
  box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
  transform: rotate(45deg);
  flex-shrink: 0;
  border-radius: 46.709px;
  background: #ffc700;
}

.footer__img_last {
  display: none;
}

.header__burger::after {
  content: "";
  position: absolute;
  bottom: 80px;
  right: 185px;
}

.header {
  position: sticky;
  max-width: 100%;
  height: 126px;
  top: 0;
  z-index: 1020;
}
.header__top {
  max-width: 1010.049px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.header__search {
  width: 225px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #f0f0f0;
  padding-left: 2rem;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f0f0f0;
  background: url(/src/img/lupa.png) no-repeat;
  background-position: 13px center;
}
.header__end {
  width: 172px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.header__language {
  display: flex;
  width: 66px;
  height: 20px;
  justify-content: space-between;
}
.header__ru {
  color: #f0f0f0;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__line {
  width: 1px;
  height: 20px;
  background-color: #f0f0f0;
}
.header__ua {
  color: #868686;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__bottom {
  max-width: 1010.049px;
  margin: 0 auto;
  height: 51px;
}
.header__list {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.75rem;
}
.header__list-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header__link {
  color: #f0f0f0;
}

.header__link:hover {
  width: 164px;
  height: 51px;
  padding: 0.8125rem 2.8119rem 1rem 2.875rem;
  color: #090909;
  font-weight: 700;
  background: url(/src/img/background.png) no-repeat;
}

.card {
  margin-top: 45px;
  max-width: 100%;
}
.card__small-title {
  color: #a4a4a4;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card__slogan {
  color: #ffc700;
}
.card__all {
  margin: 0 auto;
  margin-top: 37px;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__title {
  color: #ffffff;
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card__category {
  color: #b5b5b5;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__price {
  color: #ffc700;
  margin-top: 35px;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card__info {
  margin-top: 42px;
  max-width: 571px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.card__size {
  max-width: 132.5px;
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.card__head {
  color: #ffffff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__yellow {
  -moz-column-gap: 6px;
       column-gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63.5px;
  height: 30px;
  background: url(/src/img/card__bg_1.png) no-repeat;
}
.card__text {
  color: #000000;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__color {
  max-width: 171px;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.card__white {
  -moz-column-gap: 17px;
       column-gap: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 30px;
  background: url(/src/img/card__bg_2.png) no-repeat;
}
.card__paragraph {
  color: #000000;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__number {
  max-width: 207.5px;
  display: flex;
  align-items: center;
  -moz-column-gap: 37.5px;
       column-gap: 37.5px;
}
.card__par {
  color: #000000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 30px;
  background: url(/src/img/card__bg_3.png) no-repeat;
}
.card__buy {
  margin-top: 37px;
  max-width: 271px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc700;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 200px;
  height: 60px;
  border: 2px solid #ffc700;
}
.description {
  max-width: 1096px;
  margin: 0 auto;
  margin-top: 70px;
}
.description__title {
  color: #f0f0f0;
  margin-left: 40px;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.description__text {
  margin-top: 35px;
  max-width: 1096px;
  color: #a5a5a5;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__content {
  margin: 0 auto;
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  margin: 0 auto;
  margin-top: 137px;
  max-width: 1042px;
}
.reviews__top {
  display: flex;
  max-width: 355px;
  justify-content: space-between;
}
.reviews__head {
  color: #f0f0f0;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reviews__button {
  color: #ffc700;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  border: 2px solid #ffc700;
}
.reviews__all {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 114px;
}
.reviews__content {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.reviews__title {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 6px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.reviews__icons {
  margin-left: 6px;
}
.reviews__paragraph {
  margin-top: 32px;
  color: #a5a5a5;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 942px;
}

.recommendation {
  max-width: 1124px;
  margin: 0 auto;
  margin-top: 130px;
}
.recommendation__head {
  color: #f0f0f0;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.recommendation__all {
  margin-top: 45px;
  max-width: 1103px;
  height: 339px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommendation__content {
  max-width: 229px;
  height: 325px;
}
.recommendation__title {
  margin-top: 26px;
  color: #ffffff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.recommendation__price {
  color: #f0f0f0;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer {
  margin: 0 auto;
  margin-top: 154px;
  padding-top: 43px;
  width: 100%;
  height: 260px;
  background: #191919;
}
.footer__img {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 14px;
}
.footer__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.footer__list-item {
  margin-bottom: 8px;
}
.footer__link {
  color: #b7b7b7;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__item {
  margin-top: 15px;
  transform: rotate(8.232deg);
}
.footer__links {
  color: #b7b7b7;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__items {
  margin-top: 19px;
  transform: rotate(17.09deg);
}
.footer__a {
  color: #b7b7b7;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__news {
  max-width: 368px;
}
.footer__head {
  color: #ffffff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__text {
  color: #b7b7b7;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__form {
  margin: 0 auto;
  max-width: 310px;
}

.footer__email {
  margin-top: 11px;
  margin-right: 15px;
  width: 190px;
  height: 30px;
  background: #363636;
  color: #ffc700;
  padding-left: 14px;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer__btn {
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ffc700;
}

@media screen and (max-width: 1024px) {
  .header__top {
    max-width: 879px;
  }
  .footer__img {
    display: none;
  }
  .footer__img_last {
    max-width: 300px;
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer__content {
    margin: 0 auto;
    max-width: 829px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero {
    display: flex;
    align-items: center;
    max-width: 1350px;
    height: 760px;
    margin: 0 auto;
    margin-top: 75px;
    background: url(/src/img/hero_bg2.png);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .hero__content {
    margin-left: 70px;
    max-width: 542px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero__title {
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 5.125rem;
    font-style: normal;
    font-weight: 800;
    width: 542px;
    height: 234px;
    line-height: 95%;
  }
  .hero__slogan {
    color: #ffc700;
    font-family: Montserrat;
    font-size: 5.125rem;
    font-style: normal;
    font-weight: 800;
    text-shadow: 0px 0px 15px rgba(255, 202, 13, 0.5);
  }
  .hero__text {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    height: 60px;
    line-height: normal;
  }
  .hero__link {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc700;
    background: #ffc700;
    box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
    color: #1c1c1c;
    font-family: Montserrat;
    flex-shrink: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
  }
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 728px;
  }
  .printing__img-my {
    display: none;
  }
  .printing__img {
    background: url(/src/img/Vector\ 9.png) no-repeat;
    background-position: left center;
  }
  .shares {
    max-width: 1450px;
    margin: 0 auto;
    background-image: url(/src/img/shares_bg.png);
    background-repeat: no-repeat;
  }
  .shares__head {
    margin-left: 164px;
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
  }
  .shares__slogan {
    color: #ffc700;
  }
  .shares__sub-title {
    margin-left: 164px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .shares__content {
    position: relative;
    display: flex;
    max-width: 1280px;
    height: 630px;
    margin: 0 auto;
  }
  .shares__text {
    background: url(/src/img/icon_1_shares.png) no-repeat;
    background-position: left center;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding-left: 91px;
    height: 254px;
  }
  .shares__title {
    color: #252525;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .shares__paragraph {
    margin-top: 10px;
    margin-bottom: 34px;
    max-width: 392px;
    color: #262626;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .shares__button {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #0f0f0f;
    box-shadow: 0px 0px 25px 0px rgba(15, 15, 15, 0.9);
  }
  .shares__img {
    z-index: 2;
    position: absolute;
    left: 450px;
    bottom: 100px;
    width: 675.131px;
    height: 604.232px;
    background: url(/src/img/icon_2_shares.png) no-repeat;
    background-position: center;
  }
  .catalog {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 226px;
  }
  .catalog__head {
    color: #f0f0f0;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .catalog__slogan {
    color: #ffc700;
  }
  .catalog__sub-title {
    color: #949494;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .catalog__grid {
    margin: 0 auto;
    margin-top: 159px;
    max-width: 1099px;
    height: 1065px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .catalog__content {
    width: 273px;
    height: 331px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101010;
  }
  .catalog__img {
    width: 195.199px;
    height: 177.878px;
    margin-top: 45px;
  }
  .catalog__title {
    margin-top: 12px;
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .catalog__link {
    color: #ffc700;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .doubts {
    margin: 0 auto;
    max-width: 1006px;
    height: 652px;
    margin-top: 185px;
    margin-bottom: 260px;
  }
  .doubts__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .doubts__slogan {
    color: #ffc700;
  }
  .doubts__sub-title {
    color: #949494;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .doubts__video {
    margin-top: 40px;
    margin-left: 0px;
  }
  .communication {
    margin: 0 auto;
    max-width: 1440px;
  }
  .communication__title {
    color: #f0f0f0;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .communication__slogan {
    color: #ffc700;
  }
  .communication__sub-title {
    color: #949494;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .communication__content {
    margin: 0 auto;
    max-width: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 208px;
  }
  .communication__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
  }
  .communication__name {
    width: 454px;
    height: 60px;
    padding-left: 41px;
    background: url(/src/img/communication__bg.png) no-repeat;
    color: #ffc700;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .communication__icons {
    margin: 0 auto;
    margin-top: 35px;
    width: 160px;
  }
  .communication__map {
    margin-top: 65px;
  }
  .communication__button {
    margin: auto;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background: #ffc700;
    box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
  }
  .communication__buttom {
    margin: 0 auto;
    margin-top: 205px;
    width: 969px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .communication__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 283px;
    height: 343px;
    border-radius: 40px 0px;
    background: #1a1a1a;
  }
  .communication__img {
    margin-top: 58px;
  }
  .communication__head {
    margin-top: 45px;
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .communication__paragraph {
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .header__top {
    position: relative;
    bottom: 70px;
  }
  .header__search {
    width: 160px;
    margin-left: 108px;
  }
  .header__burger {
    display: flex;
  }
  .header__bottom {
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
    max-width: 1350px;
    height: 760px;
    margin: 0 auto;
    margin-top: 75px;
    background: url(/src/img/hero_bg3.png);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .hero__content {
    margin-left: 30px;
    max-width: 542px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero__title {
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    width: 423px;
    height: 183px;
    line-height: 95%;
  }
  .hero__slogan {
    color: #ffc700;
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    text-shadow: 0px 0px 15px rgba(255, 202, 13, 0.5);
  }
  .hero__text {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 383px;
    height: 60px;
    line-height: normal;
  }
  .hero__link {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc700;
    background: #ffc700;
    box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
    color: #1c1c1c;
    font-family: Montserrat;
    flex-shrink: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
  }
}/*# sourceMappingURL=card.css.map */