$fzh: 4.5rem;
$fwh: 700;
$fzt: 2rem;
$fwt: 400;
$color: #a8a8a8;
$second-color: #f0f0f0;
$third-color: #070707;
$fourth-color: #ffffff;
$fifth-color: #ffc700;
$sixth-color: #000000;
$seventh-color: #101010;
$eight-color: #b7b7b7;
$nine-color: #0e0e0e;
$ten-color: #171717;
$eleven-color: #262626;
$twelve-color: #949494;
$thirteen-color: #111111;
$fourteen-color: #1a1a1a;
$fifteen-color: #0f0f0f;
$sixteen-color: #141414;
$seventeen-color: #1c1c1c;
$eighteen-color: #b8b8b8;
$nineteen-color: #090909;
$twenty-color: #191919;
$twenty-one-color: #252525;
$twenty-two-color: #363636;
$twenty-three-color: #868686;
$twenty-four-color: #a8a8a8;
$twenty-five-color: #f1f1f1;
$twenty-six-color: #ffca0d;

@mixin title($second-color, $fzh, $fwh) {
  color: $second-color;
  font-family: Montserrat;
  font-size: $fzh;
  font-style: normal;
  font-weight: $fwh;
}
@mixin text($fourth-color, $fzt, $fwt) {
  color: $fourth-color;
  font-family: Montserrat;
  font-size: $fzt;
  font-style: normal;
  font-weight: $fwt;
}
.body {
  background-color: $third-color;
  height: 100%;
}
.container {
  //   max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.header {
  position: sticky;
  max-width: 100%;
  height: 126px;

  top: 0;
  z-index: 1020;
  &__top {
    max-width: 1010.049px;
    margin: 0 auto;
    display: flex;
    padding-left: 1.9375rem;
    padding-top: 1.25rem;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    width: 225px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 1px solid $second-color;
    padding-left: 2rem;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $second-color;

    background: url(/src/img/lupa.png) no-repeat;
    background-position: 13px center;
  }

  &__logo {
  }

  &__end {
    width: 172px;
    height: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__language {
    display: flex;
    width: 66px;
    height: 20px;
    justify-content: space-between;
  }

  &__ru {
    color: $second-color;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__line {
    width: 1px;
    height: 20px;
    background-color: $second-color;
  }

  &__ua {
    color: $twenty-three-color;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__buy {
  }

  &__like {
  }

  &__bottom {
    max-width: 1010.049px;
    margin: 0 auto;
    height: 51px;
  }

  &__navigation {
  }

  &__list {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
  }

  &__list-item {
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__link {
    color: $second-color;
  }
}
.header__link:hover {
  width: 164px;
  height: 51px;
  padding: 0.8125rem 2.8119rem 1rem 2.875rem;
  color: $nineteen-color;
  font-weight: 700;
  background: url(/src/img/background.png) no-repeat;
}
.bg {
  background: url(/src/img/back.png) no-repeat;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1350px;
  height: 760px;
  margin: 0 auto;
  margin-top: 75px;
  background: url(/src/img/bg_hero.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  &__content {
    margin-left: 90px;
    max-width: 542px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include title($second-color, 5.125rem, 800);
    width: 542px;
    height: 234px;
    line-height: 95%;
  }

  &__slogan {
    @include title($fifth-color, 5.125rem, 800);

    text-shadow: 0px 0px 15px rgba(255, 202, 13, 0.5);
  }

  &__text {
    @include text($twenty-four-color, 1.5rem, $fwt);
    width: 500px;
    height: 60px;
    line-height: normal;
  }

  &__link {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $fifth-color;
    background: $fifth-color;
    box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
    color: $seventeen-color;
    font-family: Montserrat;
    flex-shrink: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
  }
}
.services {
  margin: 0 auto;
  width: 1092px;
  height: 1159px;
  margin-top: 149px;

  &__head {
    @include title($second-color, $fzh, $fwh);
    text-align: center;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__grid {
    margin-top: 83px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 132px;
  }

  &__item {
    width: 334px;
    height: 408px;
    background: url(/src/img/grid_bg.png) no-repeat;
    display: flex;

    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin-top: 33px;
    width: 181px;
    height: 87px;
    color: $second-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 15px;
    width: 176px;
    height: 40px;
    color: $second-color;
    font-family: Montserrat Alternates;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__button {
    margin-top: 20px;
    color: $fifth-color;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $ten-color;
  }

  &__icon {
    margin-top: 30px;
  }
}
.printing {
  margin: 0 auto;
  max-width: 1314.638px;
  height: 577.765px;
  margin-top: 220px;
  &__title {
    @include title($second-color, 3rem, 600);
    margin-left: 68px;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    margin-left: 68px;
    color: $eighteen-color;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
  }
}
.printing {
  &__img-my {
    background: url(/src/img/Vector\ 9.png) no-repeat;
    background-position: left center;
  }

  &__img {
  }

  &__img-you {
    background: url(/src/img/Vector\ 8.png) no-repeat;
    background-position: right center;
  }
}
.shares {
  width: 1450px;
  margin: 0 auto;
  background-image: url(/src/img/shares_bg.png);
  background-repeat: no-repeat;
  &__head {
    margin-left: 164px;
    @include title($second-color, 3rem, 600);
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    margin-left: 164px;
    color: $fourth-color;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__content {
    position: relative;
    display: flex;
    width: 1280px;
    height: 630px;
    margin: 0 auto;
  }

  &__text {
    background: url(/src/img/icon_1_shares.png) no-repeat;
    background-position: left center;
    position: relative;
    z-index: 3;
    margin-top: 142px;
    display: flex;
    flex-direction: column;
    padding-left: 91px;
    height: 254px;
  }

  &__title {
    color: $twenty-one-color;
    font-family: Montserrat;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 10px;
    margin-bottom: 34px;
    width: 587px;
    color: $eleven-color;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    color: $fourth-color;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: $fifteen-color;
    box-shadow: 0px 0px 25px 0px rgba(15, 15, 15, 0.9);
  }

  &__img {
    z-index: 2;
    position: absolute;
    left: 580px;
    bottom: 100px;
    width: 675.131px;
    height: 604.232px;
    background: url(/src/img/icon_2_shares.png) no-repeat;
    background-position: right center;
  }
}
.selling {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 169px;

  &__title {
    color: $twenty-five-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__navigation {
    max-width: 927px;
    margin: 0 auto;
    margin-top: 87px;
  }

  &__list {
    max-width: 927px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__all {
    width: 92px;
    height: 46px;
    background-color: $fifth-color;
    box-shadow: 0px 0px 8px 0px rgba(255, 199, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__all-link {
    color: $third-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__list-item {
  }

  &__link {
    color: $fourth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__flex {
    margin: 0 auto;
    max-width: 1103px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 93px;
  }

  &__content {
    width: 229px;
    height: 325px;
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 229px;
    height: 241px;
  }

  &__text {
    margin-top: 26px;
    color: $fourth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__price {
    margin-top: 3px;
    color: $second-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.selling__link:hover {
  color: $third-color;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.selling__list-item:hover {
  width: 110px;
  height: 46px;
  background-color: $fifth-color;
  box-shadow: 0px 0px 8px 0px rgba(255, 199, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 226px;
  &__head {
    color: $second-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__grid {
    margin: 0 auto;
    margin-top: 159px;
    max-width: 1099px;
    height: 1290px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__content {
    max-width: 347px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $seventh-color;
  }

  &__img {
    margin-top: 45px;
  }

  &__title {
    margin-top: 12px;
    color: $fourth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__link {
    color: $fifth-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
.reviews {
  &__title {
    color: $second-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 675px;
  }

  &__content {
    margin-top: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/img/reviews_bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__icon {
    width: 439.5px;
    height: 900px;

    &_left {
      margin-right: 60px;
    }

    &_right {
    }
  }
}
.doubts {
  margin: 0 auto;
  max-width: 1006px;
  height: 652px;
  margin-top: 185px;
  margin-bottom: 260px;

  &__title {
    color: $fourth-color;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__video {
    margin-top: 40px;
    margin-left: 90px;
  }
}
.communication {
  margin: 0 auto;
  max-width: 1440px;

  &__title {
    color: $second-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__slogan {
    color: $fifth-color;
  }

  &__sub-title {
    color: $twelve-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__content {
    margin: 0 auto;
    max-width: 1099px;
    display: flex;
    justify-content: space-between;
    margin-top: 208px;
  }

  &__info {
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
  }

  &__name {
    width: 454px;
    height: 60px;
    padding-left: 41px;
    background: url(/src/img/communication__bg.png) no-repeat;
    color: $fifth-color;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__icons {
    margin-top: 35px;
  }

  &__icom {
  }

  &__map {
  }
}
.communication {
  &__button {
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background: $fifth-color;
    box-shadow: 0px 0px 10px 0px rgba(255, 199, 0, 0.6);
    color: $seventeen-color;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
  }
}
.communication {
  &__buttom {
    margin: 0 auto;
    margin-top: 205px;
    width: 969px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 283px;
    height: 343px;
    border-radius: 40px 0px;
    background: $fourteen-color;
  }

  &__img {
    margin-top: 58px;
  }

  &__head {
    margin-top: 45px;
    color: $second-color;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__paragraph {
    margin-top: 30px;
    color: $fourth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.footer {
  &__content {
    margin: 0 auto;

    max-width: 1125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  margin: 0 auto;
  margin-top: 154px;
  padding-top: 43px;
  width: 100%;
  height: 260px;

  background: $twenty-color;

  &__img {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 14px;
  }

  &__icons {
  }

  &__info {
  }

  &__title {
    color: $fourth-color;

    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }

  &__navigation {
  }

  &__list {
  }

  &__list-item {
    margin-bottom: 8px;
  }

  &__link {
    color: $eight-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__item {
    margin-top: 15px;
    transform: rotate(8.232deg);
  }

  &__links {
    color: $eight-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__contacts {
  }

  &__items {
    margin-top: 19px;

    transform: rotate(17.09deg);
  }

  &__a {
    color: $eight-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__news {
    max-width: 368px;
  }

  &__head {
    color: $fourth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__text {
    color: $eight-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__form {
    margin: 0 auto;
    max-width: 310px;
  }
}
.footer {
  &__email {
    margin-top: 11px;
    margin-right: 15px;
    width: 190px;
    height: 30px;
    background: $twenty-two-color;
    color: $fifth-color;
    padding-left: 14px;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__btn {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    color: $sixth-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: $fifth-color;
  }
}
